* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #dedede;
} 

h1 {
    border-bottom: 1px solid #999;
    background-color: white;
    padding: 10px;
}

#rich-text-editor-div {
    border: 1px solid #999;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

#toolbar-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    border: 1px solid #222;
    padding: 0px;
    width: fit-content;
    height: 30px;
    border-radius: 2px;
    margin: 0px;
}

.toolbar-button {
    border: none;
    cursor: pointer;
    background-color: #333;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.toolbar-button:hover {
    background-color: #222;
}

.toolbar-button:active {
    background-color: #000;
}

#output {
    border: 1px solid #999;
    padding: 5px;
    margin-top: 5px;
    border-radius: 2px;
    height: 400px;
    resize: both;
    overflow: auto;
    max-width: 99%;
}

#output img {
    max-width: 300px;
    max-height: 300px;
}